In [4]:
import pandas as pd
from pandasql import sqldf

In [3]:
!pip install pandasql

Defaulting to user installation because normal site-packages is not writeable
Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (from pandasql) (1.21.5)
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (from pandasql) (1.4.2)
Requirement already satisfied: sqlalchemy in c:\programdata\anaconda3\lib\site-packages (from pandasql) (1.4.32)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\programdata\anaconda3\lib\site-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas->pandasql) (2021.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas->pandasql) (1.16.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy->pandasql) (1.1.1)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py): started
  Building wheel for pandasql (setup.py): finished with status 'done'
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26784 sha256=0b1727d2b072acafb70adde5b34e8b76d4095457ef26edb71602469f2df14134
  Stored in directory: c:\users\user\appdata\local\pip\cache\wheels\63\e8\ec\75b1df467ecf57b6ececb32cb16f4e86697cbfe55cb0c51f07
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [18]:
#df = pd.DataFrame(((1, 0, 1000), (2, 1, 999), (3, 1, 900), (4, 2, 988)), columns = ('id', 'nach_id', 'zpl'))
#df

In [20]:
df = pd.DataFrame(({'id': [1, 2, 3, 4, 5], 'nach_id': [0, 1, 1, 2, 3], 'zpl': [1000, 999, 900, 988, 901]}))
df

   id  nach_id   zpl
0   1        0  1000
1   2        1   999
2   3        1   900
3   4        2   988
4   5        3   901

In [62]:
sql = """
SELECT t1.id, t1.nach_id, t1.zpl, t2.zpl, 
    CASE WHEN t1.zpl > t2.zpl THEN 1 ELSE 0 END zpl_div
FROM df t1
JOIN df t2 ON t2.id = t1.nach_id
"""

sqldf(sql)

   id  nach_id  zpl   zpl  zpl_div
0   2        1  999  1000        0
1   3        1  900  1000        0
2   4        2  988   999        0
3   5        3  901   900        1